@import '../../shared.scss';

h2 {
  padding: 0;
  margin: 0;
  color: $title-color;
  font-size: 1.23rem;
}

.wrapper {
  width: 100%;
  background-color: $components-bg-color;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  margin: 1rem 0 0;
  opacity: 0.6;

  .stepContent {
    height: 0;
    overflow: hidden;
  }

  &.fullfiled {
    opacity: 1;
  }

  &.active {
    opacity: 1;

    .stepContent {
      height: auto;
      overflow: visible;
      transition: all 0.5s;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  em {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    border: 0.125rem solid $title-color;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;

    &.tickCounter {
      color: $title-color;
    }

    &.tickMark {
      background-color: $tick-bg;
      border-color: $tick-bg;
      color: $components-white-text;
      padding: 5px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  .formColumn {
    width: 40%;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;

    & > div {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
    }
  }
}

.stepContent {
  display: flex;
  flex-flow: column;
  align-items: center;
}
