body > #root {
  height: 100vh;
}

body > #root > div {
  height: 100vh;
}

.app-content {
  display: grid;
  grid-template-columns: 5rem 3fr 2fr;
  grid-template-rows: auto;
}

@media only screen and (max-width: 1400px) {
  .app-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem 3fr 2fr;
  }
}
