$base-color: #17524d;
$faq-color: #5ce695;
$title-color: #052951;
$tick-bg: #5ce695;
$content-gray-bg: #f4f2f0;
$main-text-color: #052951;
$black-text-color: #1e1e1e;
$form-label-color: #1e1e1e;
$input-border-color: #1e1e1e;
$components-bg-color: #fff;
$components-white-text: #fff;